If-Match / If-None-Match values must be quoted

http://tools.ietf.org/html/rfc7232#section-3.1

```
   entity-tag = [ weak ] opaque-tag
   etagc = "!" / %x23-7E ; '#'-'~'
    / obs-text

   obs-text = <obs-text, see [RFC7230], Section 3.2.6>
   opaque-tag = DQUOTE *etagc DQUOTE
```